<!DOCTYPE html>
<html>
    <head>
        <title>MAD LIB</title>
    </head>
    <body>
        <div>
            <p>One day, @Model.GetName() went into the woods and saw @Model.GetNameTwo() </p>
            <p>There was a @Model.GetAnimal() in the woods and they thought it was very @Model.GetAdjective()</p>
            <p>@Model.GetExclamation(), @Model.GetName() said! </p>
        </div>
    </body>
</html>